@keyframes move {
  0% {
    right: -1000px; /* Mulai dari luar layar di sebelah kanan */
  }
  100% {
    right: 100%; /* Bergerak ke luar layar di sebelah kiri */
  }
}
@keyframes move2 {
  0% {
    left: -400px; /* Mulai dari luar layar di sebelah kanan */
  }
  100% {
    left: 100%; /* Bergerak ke luar layar di sebelah kiri */
  }
}

.animateMove {
  animation: move 6s linear infinite; /* Atur durasi animasi dan pengulangan */
}
.animateMove2 {
  animation: move2 4s linear infinite; /* Atur durasi animasi dan pengulangan */
}
